

@charset "utf-8";
* {
  margin:0px;
  padding:0px;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  	font-size: 14px;
    color:#474646;
  	font-family: 'Montserrat-Regular';
}
.row [class*="col-"]{
    padding-right: 10px;
    padding-left: 10px;
}
.lgBtn {
    width: 200px;
    font-size: 16px;
    font-family: 'Montserrat-Bold';
    padding: 12px;
    background: #f0b511;
    border-radius: 25px;
    border: none;
    color: #fff;
    margin-bottom: 10px;
}

/*****************eServus Header Start***************/
.padL0{
    padding-left: 0px!important;
}
.padR0{
    padding-left: 0px!important;
}
.Mrgn0{
  margin: 0px!important;
}
header{
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
}
.eServusHeader{
	position: relative;
	padding-bottom: 14px;
  background-color: #fff;
}
.headerWrap{
	padding-top: 27px;
  padding-bottom: 18px;
  border-bottom: 1px #e4e8eb solid;
}
.searchBoxWrap{
	position: relative;
	overflow: visible;
    width: 50%;
    min-width: 100px;  
}
.headSearch .form-control{
  font-family: 'Montserrat-Regular';
	 padding: 9px 30px 9px 15px;
    color: #999;
    width: 100%;
    height: 38px;
    margin: 0;
    line-height: 20px;
    border: 1px solid #e4e8eb;
    border-radius: 19.98px;
    box-shadow: none;
}
.headSearch .btn-default{
	position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 38px;
    color: #777;
    font-size: 14px;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
}
.headSearch .btn-default:hover,
.headSearch .btn-default:focus{
	color: #0088CC;
    background-color: transparent;
}

.cart-area .notification-block,
.cart-area .custom-block,
.cart-area .cart-dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
    margin-right: 10px;
}
.cart-area .cart-dropdown {
	position: relative;
}
.cart-area a{
	text-decoration: none;
}
.cart-area .notification-block i,
.cart-area .custom-block i{
	font-size: 20px;
    color: #004a93;
}
.cart-area .notification {
    color: #004a93 !important;
    font-size: 10px;
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
}
.cart-area .notification span.downArrow i {
    color: #004a93;
    font-size: 12px;
    padding: 0px;
    margin-left: 3px;
}
.cart-dropdown .cart-dropdown-icon {
    position: relative;
    display: inline-block;
    height: 40px;
    padding: 0;
    text-align: center;
    color: #fff;
    text-decoration: none !important;
}
.cart-dropdown a:hover,
.cart-dropdown a:focus{
	text-decoration: none;
}
.cart-dropdown .cart-dropdown-icon i {
    font-size: 20px;
    color: #004a93;
    margin: 0px;
}
.cart-dropdown a .cart {
    color: #004a93;
    font-size: 10px;
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
}
.cart-dropdown span.cart,
.notification span.note{
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #f7bd02;
    color: #fff;
    padding: 5px;
    margin-left: 3px;
}

.signOutPopup{
    display:none;
    width: 130px;
    background-color: #fff;
    position: absolute;
    top: 45px;
    text-transform: none;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    padding: 10px;
}
.signOutPopup a{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  display: block;
  width: 100%;
  padding: 6px;
  background: #f0b511;
  border-radius: 25px;
  border: none;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
	.searchBoxWrap,
	.cart-area .custom-block{
		display: none;
	}
	.headerWrap .header-logo{
		float: right;
	}
  .headerWrap{
    padding-top: 40px;
    padding-bottom: 0px;
    border-bottom: 0px;
  }
}
@media screen and (max-width: 550px) {
  .headerWrap .header-logo{
    padding-left: 32px;
  }
}
@media screen and (max-width: 350px) {
	.cart-area .notification-block{
		 margin-right: 4px;
	}
}

/*****************eServus Navigation Start***************/

.eServusHeader .navWrapper {
    padding: 0;
    background-color: #004a93;
}
.navWrapper nav {
 	  width: 420px;
    margin: 0 auto;
    min-height: 40px;
}
.navWrapper nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.navWrapper nav ul li {
  float: left;
  margin-left: 3px;
    
}
.menu-trigger {
    display:none;
  }
.navWrapper nav li> a {
    font-family: 'Montserrat-Bold';
  	color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    padding: 12px 20px;
 }

.navWrapper nav li> a:hover {
  color: #f0b511;
}
.navActive{
  color: #f0b511!important;
  border-bottom: 3px solid #f0b511;
}
.menu-trigger {
    display:none;
    width: 50px;
    height: auto;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    padding: 0;
    float: left;
    margin: 0px 0px;
    vertical-align: middle;
    color: #004a93;
}

@media screen and (max-width:767px) {
	.eServusHeader .navWrapper {
	    padding: 0;
	    background-color: transparent;
	    position: absolute;
	    top: 40px;
	    left: 20px;
	    width: 150px;
	}
  .menu-trigger {
    display:block;
    width: 100%;
    text-align: left;
  }
  .navWrapper nav{
  	 width: 150px;
  }
  .navWrapper nav ul li {
    display:block;
    float: none;   
  }
  .navWrapper nav ul {
    display:none;
    width: 130px;
    background-color: #fff;
    position: absolute;
    top: 45px;
    text-transform: none;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }

  .navWrapper nav li> a {
  	color: #004a93;
    font-weight: 700;
    padding-left: 2px;
    padding-right: 2px;
  }
}
@media screen and (max-width:550px) {
	.eServusHeader .navWrapper {
	    
	    top: 50px;
	    
	}
}
/*****************eServus Navigation End***************/



/*****************eServus Header End***************/



/*****************eServus Footer Start***************/
.footer{
	border-top: 1px solid #e4e8eb;
    font-size: 14px;
    padding: 40px 0 0;
    position: relative;
    clear: both;
}
.footer .footLogo{
  margin-bottom: 30px;
}
.footer .footLogo img{
	max-width: 150px;
}
.footerLinks ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.footerLinks li{
	position: relative;
    padding: 10.5px 0;
    line-height: 1;
    display: block;
}
.footerLinks li>a{
	color: #474646;
    font-size: 14px;
    font-family: 'Montserrat-Bold';
    text-decoration: none;
}
.footerSocial>p{
    float: left;
    width: 150px;
}
.footerSocial>i{
	font-size: 20px;
    font-weight: 400;
    margin: 0 5px;
}
.footerSocial .contact-details {
    margin-top: 12px;
    line-height: 24px;
    font-weight: normal;
}
.footerSocial .contact-details strong{
  font-family: 'Montserrat-Bold';
}
.footerSocial .contact-details>a {
	text-decoration: none;
	color: #474646;
}
.newsletter .newsletterInfo {
    margin-bottom: 20px;
    font-family: 'Montserrat-Bold';
}
.newsletter input.form-control {
    height: 50px;
    padding: 6px 75px 6px 12px;
}
.newsletter .input-group{
	position: relative;
	width: 100%;
}
.newsletter .input-group .SignUpBtn {
   position: absolute;
    right: 8px;
    top: 14px;
    z-index: 10;
   
}
.newsletter .input-group .SignUpBtn button{
	background-color: #fff;
   color: #004a93;
   font-family: 'Montserrat-Bold';
   border: 0;
}
.newsletter .pricavy-details {
    color: #90949c;
    font-size: 12px;
    margin-top: 20px;
}
.footerLinks, .footerSocial, .newsletter{
	margin-bottom: 30px;
}
.footer-copyright {
    color: #777;
    border-top: 1px solid #e4e8eb;
    padding: 10px 0 10px;
    margin-top: 10px;
}
.footer-copyright .copyright-text {
    font-size: 12px;
    color: #777;
    padding-top: 10px;
}
/*****************eServus Footer End***************/


/*****************My Community Start***************/
.landingWrapper{
  margin-top: 142px;
}
@media screen and (max-width: 767px){
  .landingWrapper{
    margin-top: 95px;
  }
}
/*****for homepageBar section start*****/
.landingWrapper .container,
.eServusHeader .container,
.footer .container, 
.BuildingWrapper .container{
    max-width: 1024px;
}
.socialFeedWrap .container{
    max-width: 620px;
}
.homepageBar .streetCount{
  margin-bottom: 45px;
}
.homepageBar .streetCount h3 {
    color: #90949c;
    font-size: 24px;
    margin: 0;
    padding: 20px 0px;
}
.pageTitle{
    margin-bottom: 45px;  
}
.pageTitle h2{
    font-family: 'Montserrat-Regular';
    font-size: 24px;
    margin-top: 21px;
    margin-bottom: 20px;
    text-align: center;
}
.titleBorder{
	width: 60px;
	margin: 0 auto;
	border-bottom: 3px #f0b511 solid;
}
@media screen and (max-width: 767px){
  .homepageBar .streetCount{
    margin-bottom: 10px;
  }
  .pageTitle h2{
    font-size: 20px;
  }
  .homepageBar .streetCount h3{
    font-size: 16px;
    padding: 0px;
  }
}
/*****for homepageBar section End******/

/***for Slider Start*/
.sliderWrap ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.sliderWrap ul>li{
  position: relative;
}
.sliderWrap ul>li .imgTxtWrap,
.BuildSliderWrap ul>li .imgTxtWrap{
  position: absolute;
  bottom: 0;
  left: 0;
  color: #5b9bff;
  z-index: 10;
  font-size: 14px;
  background-color: #fff;
  border-bottom: 3px solid #5b9bff;
  opacity: 0.8;
  padding: 10px;
  width: 100%;
}
.sliderWrap ul>li>img{
  width: 100%;
}
.BuildSliderWrap ul>li>img{
  width: 100%;
}
.communitySlider{
   margin-bottom: 85px;
}
.sliderWrap .lSSlideOuter .lSPager.lSGallery li.active{
    border-radius: 0px;
    border-bottom: 3px solid #5b9bff;
    
  }
@media screen and (max-width: 767px){
  .communitySlider {
      margin-bottom: 66px;
  }
  .communitySlider .container .col-md-8{
     padding-left: 0px;
     padding-right: 0px;
  }
  .sliderWrap .lSSlideOuter .lightSlider{
    margin-bottom: 8%;
    overflow: visible;
  }
  .sliderWrap ul>li .imgTxtWrap{
    font-size: 12px;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    bottom: -9%;
    right: 0;
    opacity: 0.9;
    max-height: 117px;
   
  }
  .sliderWrap .lSSlideOuter .lSPager.lSGallery{
    margin-top: 0px!important;
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
  .sliderWrap .lSSlideOuter .lSPager.lSGallery img{
    width: 100%!important;
    height: 100%!important;
  }
  .sliderWrap .lSSlideOuter .lSPager.lSGallery li{
    width: 70px!important;
    height: 70px!important;
    padding: 7px;
  }
  
  .pageTitle{
    margin-bottom: 20px;
  }
}
/***for Slider End*/


/***for Calender Start*/

.calenderWrap .fc-toolbar.fc-header-toolbar {
    margin-bottom: 10px; 
    padding: 5px 0px;
    border-bottom: 1px solid #e4e8eb;
}
.calenderWrap .fc-toolbar h2 {
    font-size: 14px;
    font-family: 'Montserrat-Bold';
    color: #f0b511;

}
.calenderWrap .fc-button{
  border: none;
  background: none;
  border-radius: 0px;
  box-shadow: none;
  height: 1.4em!important;
  color: #f0b511;
}
.calenderWrap .fc-unthemed .fc-row{
  border: 0px;
}
.calenderWrap .fc td, .calenderWrap .fc th {
    border-style: solid;
    border-width: 0px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    color: #474646;
}
.calenderWrap .fc td{
  font-family: 'Montserrat-Regular';
}
.calenderWrap .fc th { 
  font-family: 'Montserrat-Bold';
  text-transform: uppercase;
}
.calenderWrap .fc-head-container{
  padding-bottom: 15px!important;
}
.calenderWrap .fc-basic-view .fc-body .fc-row {
    min-height: 2.2em;
}
.calenderWrap .fc-basic-view .fc-body .fc-row:last-child{
    display: none;
}
.calenderWrap .fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    float: none;
}
.calenderWrap .fc-scroller{
  overflow-x: visible;
}
@media screen and (max-width: 991px){
  .weatherInfo, .calenderWrap{
    display: none;
  }
}
/***for Calender End*/
.createEventWrap .lgBtn{
    width: 100%;
    margin-top: 5px;
}
.createEventWrap{
  text-align: center;
}
.createEventLink>a{
  text-decoration: none;
  color: #f0b511;
  font-size: 16px;
  font-family: 'Montserrat-Bold';
}
@media screen and (max-width: 991px){
  .createEventWrap .lgBtn{
      width: 300px;
      margin: 25px auto;
  }
}
.commFeatures{
    margin-bottom: 5px;
}
.commFeatures .row [class*="col-"]{
    padding-right: 10px;
    padding-left: 10px;
}
.FeaturesBoxWrap>a{
  text-decoration: none;
  font-size: 14px;
  color:#474646;
  font-family: 'Montserrat-Regular';
}
.FeaturesBox:hover{
  background-color: #e4e8eb;
}
.FeaturesBox{
  text-align: center;
    border: 1px solid #e4e8eb;
    padding: 40px 0px;
    margin-bottom: 20px;
    min-height: 220px;
}
.FeaturesBox img{
	margin: auto auto 30px;
  max-height: 75px;
}

.socialFeedWrap .container{
	width: 70%;
	margin: 0 auto;
}
.sociFeedPost input.form-control {
    height: 56px;
    padding: 6px 25px;
    font-family: 'Montserrat-Regular';
}
.sociFeedPost .input-group{
	position: relative;
	width: 100%;
}
.sociFeedPost .input-group .SignUpBtn {
    position: absolute;
    right: 13px;
    top: 18%;
    z-index: 10;
   
}
.sociFeedPost .input-group .SignUpBtn button{
	background-color: #fff;
   color: #004a93;
   border: 0;
   font-size: 16px;
   font-family: 'Montserrat-Bold';
}
.sociFeedPost .input-group .SignUpBtn button i{
	padding-right: 10px;
}
.sociFeedPost{
	padding-bottom: 40px;
}
.sociFeedContent{
	margin-bottom: 40px;
	 border-bottom: 1px solid #e4e8eb;
}
.sociFeedContImg{
  max-width: 85px;
    max-height: 85px;
    border-radius: 50%;
    margin: 0 auto;
}
.sociFeedContImg>img{
  width: 100%;
}
.sociFeedContentWrap .sociFeedContent:last-of-type{
    margin-bottom: 0px;
    border-bottom: 0px;
}

.sociFeedContTxt .sociTxt{
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: left;

}
.morePostLinkWrap{
  margin-top: 10px;
  margin-bottom: 40px;
}
.moreAnnLink{
    padding: 0px 15px 15px;
    background-color: #f8f8f8;
}
.moreAnnLink>a{padding: 0px;}
.ContTxtLink>a, .moreAnnLink>a,
.morePostLink>a{
    margin-bottom: 20px;
    font-size: 14px;
    color: #f0b511;
    padding: 0px 5px;
    text-decoration: none;
}
.moreAnnLink>a,
.morePostLink>a{
  padding: 0px;
}
.ContTxtLink>a span, .moreAnnLink>a i,
.morePostLink>a i{
    padding-left: 5px;
}
.advertiseBottom{
    margin-bottom: 5px;
}
.advertiseBottom .addContent{
    min-height: 100px;
    background-color: #eaebed;
    padding-top: 30px;
}
.addContent .addHere{
    font-size: 28px;
    text-align: center;
    margin-bottom: 5px;
}
@media screen and (max-width: 767px) {
  .commFeatures .row [class*="col-"] {
    padding-right: 7px;
    padding-left: 7px;
  }
  .FeaturesBox{
    margin-bottom: 14px;
  }
.sociFeedContImg, .sociFeedContTxt{
    text-align: center;
    margin-bottom: 15px
}
.sociFeedContTxt .sociTxt, 
.sociFeedContTxt .ContTxtLink, 
.sociFeedContTxt .moreAnnLink{
    text-align: left;
}
  .annoNewsWrap, .socialFeedWrap{
    margin-top: 26px;
  }
}

/*********Community Tabs Start*********/
.annoNewsWrap{
    margin-bottom: 15px;
}

@media screen and (max-width: 479px) {
  .nav-tabs-responsive > li {
    display: none;
    width: 23%;
  }
  .nav-tabs-responsive > li > a {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width: 100%;
    width: 100%;
    text-align: center;
    vertical-align: top;
  }
  .nav-tabs-responsive > li.active {
    width: 54%;
  }
  .nav-tabs-responsive > li.active:first-child {
    margin-left: 23%;
  }
  .nav-tabs-responsive > li.active, .nav-tabs-responsive > li.prev, .nav-tabs-responsive > li.next {
    display: block;
  }
  .nav-tabs-responsive > li.prev, .nav-tabs-responsive > li.next {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  .nav-tabs-responsive > li.next > a, .nav-tabs-responsive > li.prev > a {
    -webkit-transition: none;
    transition: none;
  }
  .nav-tabs-responsive > li.next > a .text, .nav-tabs-responsive > li.prev > a .text {
    display: none;
  }
  .nav-tabs-responsive > li.next > a:after, .nav-tabs-responsive > li.next > a:after, .nav-tabs-responsive > li.prev > a:after, .nav-tabs-responsive > li.prev > a:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    color: #f0b511;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .nav-tabs-responsive > li.prev > a:after {
    content: "\e079";
  }
  .nav-tabs-responsive > li.next > a:after {
    content: "\e080";
  }
  .nav-tabs-responsive > li.dropdown > a > .caret {
    display: none;
  }
  .nav-tabs-responsive > li.dropdown > a:after {
    content: "\e114";
  }
  .nav-tabs-responsive > li.dropdown.active > a:after {
    display: none;
  }
  .nav-tabs-responsive > li.dropdown.active > a > .caret {
    display: inline-block;
  }
  .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-left {
    left: 0;
    right: auto;
  }
  .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-center {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-right {
    left: auto;
    right: 0;
  }
}

.Announcements-tabs .nav-tabs {
     border-bottom: none; 
}
.Announcements-tabs .nav-tabs>li.active>a, .Announcements-tabs .nav-tabs>li.active>a:focus, 
.Announcements-tabs .nav-tabs>li.active>a:hover {
    color: #5b9bff;
    font-family: 'Montserrat-Bold';
    font-size: 12px;
    border: none;
    border-bottom: 3px solid #5b9bff;
}

.Announcements-tabs .nav-tabs>li>a {
    color: #90949c;
    font-size: 12px;
}
.Announcements-tabs .nav>li>a:focus, .Announcements-tabs .nav>li>a:hover {
     background-color: transparent; 
}
.Announcements-tabs .nav-tabs>li>a:hover {
     border-color: transparent; 
}
.tabDataWrap .tabDataContent {
    padding: 15px 0px;
    border-top: 1px solid #e4e8eb;
    background-color: #f8f8f8;
}
.tabDataTxt{
    font-size: 12px;
}
.tabDataTxt .txtSender>a{
    text-decoration: none;
    color: #f0b511;
}
/*********Community Tabs End*********/
.advertiseWrap{
    min-height: 315px;
    background-color: #f8f8f8;
    margin-top: 40px;

}
.advertiseWrap .addTxt{
    font-size: 28px;
    text-align: center;
    padding-top: 120px;
}


/*****************Create Event and Bulletin Board Post Button modal Start***************/

.create-event-popup-modal .modal-title,
.BBPostBtnPopupModal .modal-title{
  color: #00539a;
  font-family: 'Montserrat-Bold';
}
.create-event-popup-modal .modal-body,
.BBPostBtnPopupModal .modal-body{
  border: none;
  border-radius: 2px;
}
.create-event-popup-modal .modal-footer,
.BBPostBtnPopupModal .modal-footer {
  text-align: center;  
  border: none;
  padding: 0px;
}
.create-event-popup-modal .modal-footer button,
.BBPostBtnPopupModal .modal-footer button{
  margin-bottom: 0px;
}
.create-event-popup-modal .modal-content,
.BBPostBtnPopupModal .modal-content{
    border-bottom:4px solid #5b9bff;
    border-radius: 0px;
    padding: 40px;
    background-color: #f9f9f9;
}
.createEventForm .uploadPhoto{
  position: relative;
}
.createEventForm .uploadPhoto>input{
  padding-left: 50px;
}
.createEventForm .uploadPhoto .uploadIcon{
    position: absolute;
    left: 20px;
    top: 6px;
    color: #00539a;
    font-size: 18px;
}
.createEventForm textarea{
  resize: none;
  min-height: 120px;
}
.evevntDateTime .evevntDate{
 float: left;
  width: 45%;
  margin-right: 5px;
  position: relative;
}
.evevntDateTime .evevntDate>input{
  padding-right: 35px;
}
.evevntDate .dateIcon{
    position: absolute;
    right: 10px;
    top: 6px;
    color: #00539a;
    font-size: 18px;
}
.evevntDateTime .eventTime{
 float: left;
  width: 38%;
}
.evevntDateTime .dateEditLink{
  float: left;
  width: 15%;
  text-align: right;
  line-height: 2.4;
}
.evevntDateTime .dateEditLink>a,
.evevntDateTime .edtTimeLink>a{
  text-decoration: none;
  color: #f0b511;
}
.evevntDateTime .edtTimeLink{
  text-align: right;
  margin-top: 5px;
}
/*****************Create Event and Bulletin Board Post Button modal End***************/


/*****************All Events in Month modal Start***************/
.allEventPopupModal .modal-content,
.EventDetailPopupModal .modal-content,
.goingBtnPopupModal .modal-content{
    border-bottom:4px solid #5b9bff;
    border-radius: 0px;
    padding: 20px;
    background-color: #f9f9f9;
}
.eventListHeader{
  text-align: center;
  padding: 10px 70px 20px 35px;
  margin: 0px -35px 10px;
  background-color: #f0f3f5;
}
.eventListHeader .preEvent{
  float: left;
}
.eventListHeader .nextEvent{
  float: right;
}
.eventListHeader .eventTitle{
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-family: 'Montserrat-Bold';
  color: #004a93;
}
.eventListHeader .preEvent a,
.eventListHeader .nextEvent a{
  text-decoration: none;
  color: #f0b511;
}
.eventListWrap{
  max-height: 500px;
  overflow: auto;
}
.eventListWrap .eventData{
  margin-bottom: 20px;
}
.eventListWrap .eventData .evevntDate{
  margin-bottom: 10px;
  text-align: center;
}
.eventListWrap .eventData .eventImg>img,
.eventDetailWrap .eventDetailImg>img{
  width: 100%;
  max-height: 155px;
}
.eventListWrap .eventData .evevntDate a{
  text-decoration: none;
  color: #f0b511;
}
.eventDetailWrap .eventDetailImg{
  margin-bottom: 20px;
}
.eventDetailWrap .eventDetailTxt>p{
  margin-bottom: 20px;
  text-align: justify;
  line-height: 1.8;
}
.eventDetailBtn{
  text-align: center;
}
.goingBtnPopupModal .modal-body{
  min-height: 300px;
}
.seeYouSoonImg{
  text-align: center;
  margin-top: 12%;
}
.seeYouSoonImg>h3{
  font-family: 'Montserrat-Bold';
  font-size: 18px;
  color: #004a93;
}
.seeYouSoonImg>img{
  width: 120px;
  height: 65px;
}
/*****************All Events in Month modal End***************/


/*****************Food Delivery and Music modal Start***************/
@media screen and (min-width: 768px){
  .foodDeliPopupModal .modal-sm,
  .musicPopupModal .modal-sm,
  .suggestionPopupModal .modal-sm{
      width: 420px;
  }
}

.foodDeliPopupModal .modal-content,
.musicPopupModal .modal-content{
    border-bottom:4px solid #5b9bff;
    border-radius: 0px;
    padding: 10px;
    background-color: #f9f9f9;
    font-weight: 700;
}
.foodDeliPopupModal .modal-body,
.musicPopupModal .modal-body{
  padding-bottom: 0px;
}
.foodEmail, .foodPass{
  margin-bottom: 10px;
}
.foodEmail input,
.foodPass input{
  height: 50px;
}
.forgotPass{
  font-size: 13px;
}
.forgotPass a{
  text-decoration: none;
  color: #f0b511;
}
.foodLoginBtn{
  text-align: center;
  padding: 20px 5px;
}
.foodLoginBtn button{
  margin-bottom: 0px;
}
.foodDeliPopupWrap>p a,
.musicPopupWrap>p a{
  text-decoration: none;
  color: #f0b511;
}
.loginWithFacebook button{
    width: 100%;
    font-size: 16px;
    padding: 12px;
    background: #004a93;
    border-radius: 25px;
    border: none;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 700;
}
/*****************Food Delivery and Music modal End***************/



/*****************Suggestions modal Start***************/
.suggestionPopupModal .modal-content{
    border-bottom:4px solid #5b9bff;
    border-radius: 0px;
    padding: 10px;
    background-color: #f9f9f9;
}
.suggestionPopupModal .modal-body{
  padding-bottom: 0px;
}
.suggestionPopupWrap{
  text-align: center;
}
.suggestionPopupWrap h3{
  color: #004a93;
  font-weight: 700;
}
.suggestionPopupWrap>p{
  font-weight: 700;
  text-align: left;
}
.checkAns{
  text-align: left;
  width: 200px;
  margin: 0 auto;
}
.checkAns label{
  font-weight: normal;
  margin-left: 10px;
}
.checkAns .lgBtn{
  width: 120px;
  margin-top: 20px;
}
/*****************Suggestions modal End***************/




/*****************Announcements & News modal Start***************/
.annsmntNewsPopupModal .modal-content{
  padding: 15px;
}
.newsPopupContentWrap .row [class*="col-"]{
    padding-right: 10px;
    padding-left: 10px;
}
.newsPopupContentWrap .col-md-3:nth-child(4n+1){
  clear: both;
}
.annsmntNewsPopupModal .modal-content .modal-title{
  color: #004a93;
}

.news-icon{
    text-align: center;
    border: 1px solid #e4e8eb;
    padding: 10px;
    margin-bottom: 20px;
}
.news-icon:hover{
  background-color: #e4e8eb;
}
.news-icon>a{
  text-decoration: none;
  font-size: 14px;
  color:#242223;
}
.news-icon .icon{
  margin: auto;
  max-width: 120px;
  max-height: 120px;
  width: 100%;
  height: auto;
}
.news-icon p{
  margin-top: 10px;
  margin-bottom: 0px;
}
.annsmntNewsPopupModal .modal-footer{
  text-align: center;
  font-weight: 700;
}
@media screen and (max-width: 767px){
  .newsPopupContentWrap .col-md-3:nth-child(2n+1){
  clear: both;
}
}
/*****************Announcements & News modal End***************/


/*****************My Community End***************/


/*****************Bulletin Board Start***************/
.bulletinPost, .bulletinSrch{
  margin-bottom: 35px;
}
.bulletinPost .PostBtn{
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    padding: 12px;
    background: #f0b511;
    border-radius: 25px;
    border: none;
    color: #fff;
    margin-bottom: 10px;
}
.bulletinSrch input{
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    height: 45px;
    width: 100%;
    border: 1px solid #e4e8eb;
    border-radius: 20px;
    position: relative;
    padding: 2px 28px 2px 15px;
    margin-bottom: 10px;
}
.bulletinSrch .fa-search {
    position: absolute;
    top: 13px;
    right: 30px;
    color: #ccc;
    font-size: 18px;
    font-weight: 700;
}
.bulletinBoardTabCont .FeaturesBox{
  min-height: 175px;
  padding: 25px 0px;
}
.bulletinBoardTabCont .FeaturesBox img {
    margin: auto auto 15px;
}
.bulletinBoardTabCont .bbPostCover .bbPostWrap{
  border-bottom: 1px solid #e4e8eb;
  margin-bottom: 50px;
  padding-bottom: 20px;
}
.bulletinBoardTabCont .bbPostCover .bbPostWrap:last-child{
  border-bottom: 0px;
  margin-bottom: 20px;
}

.bbPostWrap .bbPostImg{
  height: 144px;
  border: 1px solid #e4e8eb;
}
.bbPostWrap .bbPostImg img{
  width: 90%;
  height: 99%;
  margin: auto;
}
.bbPostTxt .titleTxt{
  font-family: 'Montserrat-Bold';
}
.bbPostTxt .postedTxt{
  font-size: 12px;
}
.bbPostTxt .postDisc{
 
}
.bbPostTxt .postLink>a{
  text-decoration: none;
  color: #f0b511;
  font-family: 'Montserrat-Regular';
}
.bbPostWrap .contPosterLink{
  margin-top: 15px;
  text-align: right;
}
.contPosterLink>a,
.bbPostTxt a{
  text-decoration: none;
  color: #f0b511;
  font-size: 14px;
}

/*****************Bulletin Board Pagination Start***************/
.bbPostPagination .pagination,
.bbPostPagination .pagination ul{
  margin: 0px;
  margin-right: 50px;
  float: right;
}
.bbPostPagination .pagination>li>a, .bbPostPagination .pagination>li>span {
    padding: 6px;
    color: #f0b511;
    background-color: #fff;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
}
.bbPostPagination .pagination>li>a:focus, 
.bbPostPagination .pagination>li>a:hover, 
.bbPostPagination .pagination>li>span:focus, 
.bbPostPagination .pagination>li>span:hover {
    color: #5b9bff;
    background-color: #fff;
}
.bbPostPagination .pagination>.active>a, 
.bbPostPagination .pagination>.active>a:focus, 
.bbPostPagination .pagination>.active>a:hover, 
.bbPostPagination .pagination>.active>span, 
.bbPostPagination .pagination>.active>span:focus, 
.bbPostPagination .pagination>.active>span:hover {
    color: #5b9bff;
    cursor: default;
    background-color: #fff;
    border-color: #fff;
}
/*****************Bulletin Board Pagination End***************/


/*****************Bulletin Board Contact Poster Popup Modal Start***************/
.contactPosterPopupModal .modal-title{
  color: #00539a;
  font-weight: 700;
  margin-bottom: 40px;
}
.contactPosterPopupModal .modal-body{
  border: none;
  border-radius: 2px;
  padding: 0px 40px;
}
.contactPosterPopupModal .modal-footer {
  text-align: center;  
  border: none;
  padding: 0px;
  margin-bottom: 20px;
}
.contactPosterPopupModal .modal-footer button{
  margin-bottom: 0px;
}
.contactPosterPopupModal .modal-content{
    max-width: 500px;
    border-bottom:4px solid #337ab7;
    border-radius: 0px;
    padding: 20px;
    background-color: #f9f9f9;
}
.contactPosterForm .form-group{
  margin-bottom: 40px;
  margin-right: 0px;
  margin-left: 0px;
}
.contactPosterForm textarea{
  resize: none;
  min-height: 120px;
}

/*****************Bulletin Board Contact Poster Popup Modal End***************/


/*****************Bulletin Board End***************/



/*****************Business Marketplace Start***************/
.BMPlacePostsWrap{
  border-bottom: 1px solid #e4e8eb;
  margin-bottom: 45px;
}

.BMLogoWrap .BMLogoCont{
  width: 19%;
  display: inline-block;
  margin-bottom: 45px;
}
.BMLogoWrap .BMLogoCont>img{
  display: block;
  max-width: 70%;
  height: auto;
}
.BMPostTitle{
  color: #5b9bff;
  font-family: 'Montserrat-Bold';
  font-size: 12px;
  text-align: center;
  margin-bottom: 45px;
  text-transform: uppercase;
}
.BMPostaWrap{
  width: 85%;
  margin: 0 auto;
}
.BMPostaWrap .postDisc{
  margin: 20px 0px;
}
.BMPostaWrap .contPosterLink{
  margin-bottom: 45px;
}
.BMPostaWrap .morePosts{
  margin-bottom: 20px;
}
.BMPostaWrap .morePosts a{
  text-decoration: none;
  color: #f0b511;
}
@media only screen  and (max-width: 767px){
  .BMLogoWrap .BMLogoCont{
    width: 49%;
  }
}

.companyDirTblWrap{
    /*max-height:500px;*/
    height: 500px;
    overflow-y:auto;
    font-size: 14px;
  }
.companyDirTblWrap .scrollbot-outer-parent{
    z-index: 2!important;
  }
.companyDirTblWrap .scrollbot-scrollbar{
    background-color: #f0b511!important;
    border-radius: 5px;
  }
.companyDirTbl>tbody>tr:first-child>td{
 border-top: 0px;
}
.companyDirTbl>thead>tr>th{
  border-bottom: 0px;
  vertical-align: top;
  color: #599bfc;
}
.companyDirTbl>tbody>tr>td{
  vertical-align: middle;
  padding: 15px 5px;
}
.companyDirImg{
  text-align: center;
}
.companyDirImg>img{
  max-width: 120px;
  height: auto;
}
.companyDirInfo>p{
  margin-bottom: 0px;
}
.companyDirInfo .companyName{
  font-family: 'Montserrat-Bold';
  color: #004a93;
}
.companyDirInfo .companyType{
  font-family: 'Montserrat-Bold';
}
.BMCompanyDirectory .advertiseWrap{
  margin-bottom: 40px;
  margin-top: 0px;
}
@media only screen and (max-width: 767px){
  .BMCompanyDirectory .advertiseWrap{
    display: none;
  }
  .companyDirTblWrap .table-responsive{
    border: 0px;
  }
}
/*****************Business Marketplace End***************/


/*****************Business Posts Start***************/

.businessPostsWrap{
    /*max-height:500px;*/
    height: 500px;
    overflow-y:auto;
    font-size: 14px;
  }
.businessPostsWrap .scrollbot-outer-parent{
    z-index: 2!important;
  }
.businessPostsWrap .scrollbot-scrollbar{
    background-color: #f0b511!important;
    border-radius: 5px;
  }
.businessPostsWrap .BMPostaWrap{
  border-bottom: 1px solid #e4e8eb;
  margin-bottom: 45px;
}
.businessPostsWrap .BMPostaWrap .contPosterLink{
  margin-bottom: 20px;
}
.businessPostTabCont .advertiseWrap{
  margin-bottom: 40px;
  margin-top: 0px;
}
.businessPostTabCont .bulletinPost{
  text-align: center;
}
.businessPostTabCont .bulletinPost .PostBtn {
    width: 220px;
    padding: 8px;
}
@media only screen and (max-width: 767px){
  .businessPostTabCont .advertiseWrap{
    display: none;
  }
}
/*****************Business Posts End***************/



/*****************My Building Start***************/
.BuildingWrapper{
  margin-top: 142px;
}
#rotating-item-wrapper {
  position: relative;
  width: 980px;
  height: 347px;

}
.rotating-item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.BuildingSlider{
  margin-top: 10px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px){
  .BuildingWrapper{
    margin-top: 95px;
  }
}
/*****************My Building End***************/



/*****************Building and Services Facilities Tab Start***************/


/*****************breadcrumb Navigation Start***************/

.breadcrumbCover .breadcrumb{
    list-style: none;
    background: none;
    padding: 0px;
    border-radius: 0px;
}
.breadcrumbCover .breadcrumb li {
    display: inline;
}
.breadcrumbCover .breadcrumb li+li:before {
    padding: 3px;
    color: #474646;
    font-family: 'FontAwesome';
    content: "\f105";
}
.breadcrumbCover .breadcrumb li a {
    color: #474646;
    font-size: 12px;
    text-decoration: none;
}
.breadcrumbCover .breadcrumb li a.activeBread{
    font-family: 'Montserrat-Bold';
}

/*****************breadcrumb Navigation End***************/
.buildingTabWrap{
  margin-bottom: 40px;
}
.buildingTabWrap .pageTitle h2{
    margin-top: 0px;
}
.buildingTabWrap .buildTabContent{
  max-width: 85%;
  margin: 0 auto;
}
.buildTabContent h3{
  font-family: 'Montserrat-Bold';
  font-size: 20px;
  color: #004a93;
  text-align: center;
}
.buildTabContent .amenties p{
  font-family: 'Montserrat-Bold';
}
.buildTabContent .amenties ul{
  padding-left: 60px;
}
.buildTabContent .amenties ul li{
 margin-bottom: 20px;
}

/*****************Building and Services Facilities Tab End***************/


/*****************Tenant Directory Tab Start***************/
.tenantDirContent{

}

.catSearchWrap .tenantCat, .catSearchWrap .tenantSrch{
  display: inline-block;
  width: 47%;
  margin-bottom: 30px;
}
.catSearchWrap .tenantCat{
  text-align: right;
}
.catSearchWrap .tenantSrch{
  text-align: left;
  margin-left: 25px;
  position: relative;
}
.tenantCat select {
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../images/down_arrow.svg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-color: #fff;
    height: 35px;
    width: 220px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin-left: 6px;
}
.tenantSrch input, .tenantSrch input:focus{
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  height: 35px;
  width: 220px;
  border: 1px solid #ccc;
  border-radius: 20px;
  position: relative;
  padding: 2px 28px 2px 15px;
}
.tenantSrch .fa-search{
    position: absolute;
    top: 7px;
    left: 190px;
    color: #ccc;
    font-size: 18px;
    font-weight: 700;
}
.tanantDirTblWrap{
    height:500px;
    overflow-y:auto;
  }
.tanantDirTblWrap .scrollbot-outer-parent{
    z-index: 2!important;
  }
.tanantDirTblWrap .scrollbot-scrollbar{
    background-color: #f0b511!important;
    border-radius: 5px;
  }
.tanantDirTbl>tbody>tr>td:first-child{
  color: #004a93;
  font-family: 'Montserrat-Bold';
}
.tanantDirTbl>thead>tr>th{
  border-bottom: 0px;
  vertical-align: top;
  color: #5b9bff;
  font-family: 'Montserrat-Bold';
}
.advertiseHere{
  min-height: 180px;
  background-color: #eaebed;
  padding: 70px 5px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
}
@media screen and (max-width: 767px){
  .catSearchWrap .tenantCat, .catSearchWrap .tenantSrch{
    display: block;
    width: 100%;
  }
  .catSearchWrap .tenantCat{
    text-align: left;
   
  }
  .catSearchWrap .tenantSrch{
   padding-left: 80px;
   margin-left: 0px;
  }
  .tenantSrch .fa-search{
      left: 270px; 
  }
}
/*****************Tenant Directory Tab Start***************/



/*****************Security Tab Start***************/
.buildingTabWrap .securityContent{
  max-width: 85%;
  margin: 0 auto;
}
.securityContent h3{
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Montserrat-Bold';
  font-size: 20px;
  color: #004a93;
  text-align: center;
}
.securityContent>p{
  margin-bottom: 40px;
}
/*****************Security Tab Start***************/


/*****************Parking Tab Start***************/
.buildingTabWrap .parkingTabContent{
  max-width: 85%;
  margin: 0 auto;
}
.parkingTabContent>h3{
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Montserrat-Bold';
  font-size: 20px;
  color: #004a93;
  text-align: center;
}
.parkingTabContent .parkInfo p{
  font-family: 'Montserrat-Bold';
}
.parkingTabContent .parkInfo ul{
  padding-left: 70px;
}
.parkingTabContent .parkInfo ul li{
 margin-bottom: 16px;
}
.parkingTabContent .parkInfo ul li>a{
  color: #f0b511;
  text-decoration: none;
}
.parkingTabContent .pakrFootTxt{
  font-family: 'Montserrat-Bold';
}
/*****************Parking Tab End***************/


/*****************Accessibility Tab Start***************/
.buildingTabWrap .AccessibilityContent{
  max-width: 85%;
  margin: 0 auto;
}
.AccessibilityContent h3{
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Montserrat-Bold';
  font-size: 20px;
  color: #004a93;
  text-align: center;
}
.AccessibilityContent .whatAODA,
.AccessibilityContent .commitment{
  margin-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
}
.downloadsWrap{
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
}
.downloadsWrap .downloads{
  margin-bottom: 30px; 
  text-align: center;
  width: 32%;
  display: inline-block;
  vertical-align: top;
}
.downloadsWrap .downloads p{
  color: #004a93;
  font-size: 14px;
  font-family: 'Montserrat-Bold';
}
.downloadsWrap .downloads a{
  text-decoration: none;
  color: #f0b511;
  font-family: 'Montserrat-Regular';
}
.downloadsWrap .downloads img{
  max-width: 70px;
}
@media screen and (max-width: 767px){
  .downloadsWrap .downloads{
    width: 49%;
    
  }
}

/*****************Accessibility Tab End***************/


/*****************Contact Tab Start***************/
.buildingTabWrap .contactTabCont{
  max-width: 85%;
  margin: 0 auto;
}
.contactTabCont h3{
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Montserrat-Bold';
  font-size: 20px;
  color: #004a93;
  text-align: center;
}
.contactTbl caption{
  color: #004a93;
  font-size: 16px;
  font-family: 'Montserrat-Bold';
  text-align: left;
}
.contactTbl{
  border-top: 1px solid #ccc;
  margin-bottom: 20px;
}
.contactTbl>tbody>tr>td, .contactTbl>tbody>tr>th{
  border-top: 0px;
}
.contactTbl>thead>tr>th{
  border-bottom: 0px;
  vertical-align: top;
  font-family: 'Montserrat-Bold';
}
.contactTbl>tbody>tr>td>a{
  text-decoration: none;
  color: #f0b511;
}
/*****************Contact Tab End***************/


/*****************Policies & Lagal Tab Start***************/
.buildingTabWrap .PoliciesContent{
  max-width: 85%;
  margin: 0 auto;
}
.PoliciesContent h3{
  text-align: center;
}
.PoliciesContent h4,
.PoliciesContent h3{
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Montserrat-Bold';
  font-size: 20px;
  color: #004a93;
}
.PoliciesContent p{
  margin-bottom: 30px;
}
.PoliciesContent p>a{
  text-decoration: none;
  color: #f0b511;
}
@media screen and (max-width: 767px){
  .PoliciesContent{
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*****************Policies & Lagal Tab End***************/