
body {
  	font-size: 14px;
   	font-weight: 500;
    color:#242223;
  	font-family: 'Montserrat', sans-serif;
}
.lgBtn {
    width: 200px;
    font-size: 16px;
    padding: 12px;
    background: #f8bc02;
    border-radius: 25px;
    border: none;
    color: #fff;
    margin-bottom: 10px;
}
/*[type="color"], [type="date"], [type="datetime-local"], [type="datetime"], [type="email"], [type="month"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], textarea {
    -moz-appearance: none;
    background-color: #fefefe;
    border: 1px solid #cacaca;
    border-radius: 5px;
    box-shadow: 0 1px 2px hsla(0, 0%, 4%, 0.1) inset;
    box-sizing: border-box;
    color: #0a0a0a;
    display: block;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    height: 2.3em;
    margin: 0 0 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    transition: box-shadow 0.5s ease 0s, border-color 0.25s ease-in-out 0s;
    width: 100%;
}*/
/*****************eServus Header Start***************/
.padL{
    padding-left: 0px;
}
.padR{
    padding-left: 0px;
}
.eServusHeader{
	position: relative;
	padding-bottom: 10px;
}
.headerWrap{
	padding-top: 28px;
    padding-bottom: 28px;
    border-bottom: 1px #e0e1e4 solid;
}
.searchBoxWrap{
	position: relative;
	overflow: visible;
    width: 50%;
    min-width: 100px;  
}
.headSearch .form-control{
	padding: 9px 15px;
    color: #999;
    width: 100%;
    height: 38px;
    margin: 0;
    line-height: 20px;
    border: 1px solid #e8ecee;
    border-radius: 19.98px;
    box-shadow: none;
}
.headSearch .btn-default{
	position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 38px;
    color: #777;
    font-size: 14px;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
}
.headSearch .btn-default:hover,
.headSearch .btn-default:focus{
	color: #0088CC;
    background-color: transparent;
}

.cart-area .notification-block,
.cart-area .custom-block,
.cart-area .cart-dropdown {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
    margin-right: 10px;
}
.cart-area .cart-dropdown {
	position: relative;
}
.cart-area a{
	text-decoration: none;
}
.cart-area .notification-block i,
.cart-area .custom-block i{
	font-size: 20px;
    color: #004a93;
}
.cart-area .notification {
    color: #004a93 !important;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}
.cart-area .notification span.downArrow i {
    color: #004a93;
    font-size: 12px;
    padding: 0px;
    margin-left: 3px;
}
.cart-dropdown .cart-dropdown-icon {
    position: relative;
    display: inline-block;
    height: 40px;
    padding: 0;
    text-align: center;
    color: #fff;
    text-decoration: none !important;
}
.cart-dropdown a:hover,
.cart-dropdown a:focus{
	text-decoration: none;
}
.cart-dropdown .cart-dropdown-icon i {
    font-size: 20px;
    color: #004a93;
    margin: 0px;
}
.cart-dropdown a .cart {
    color: #004a93;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}
.cart-dropdown span.cart,
.notification span.note{
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #f7bd02;
    color: #fff;
    padding: 5px;
    margin-left: 3px;
}
.cartDropDownMenu{
  display: none;
}

@media screen and (max-width: 767px) {
	.searchBoxWrap,
	.cart-area .custom-block{
		display: none;
	}
	.headerWrap .header-logo{
		float: right;
	}
}
@media screen and (max-width: 350px) {
	.cart-area .notification-block{
		 margin-right: 4px;
	}
}

/*****************eServus Navigation Start***************/

.eServusHeader .navWrapper {
    padding: 0;
    background-color: #004a93;
    min-height: 53px;
}


.navWrapper nav {
 	width: 380px;
    margin: 0 auto;
    min-height: 45px;
}
.navWrapper nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.navWrapper nav ul li {
  float: left;
  margin-left: 3px;
    
}
.menu-trigger {
    display:none;
  }
.navWrapper nav li> a {
  	color: #fff;
	  display: block;
	  text-align: center;
	  text-decoration: none;
	  text-transform: uppercase;
	  font-size: 12px;
	  font-style: normal;
	font-weight: 500;
	line-height: 20px;
	padding: 15px 20px;
 }

.navWrapper nav li> a:hover {
  color: #f8bc02;
  border-bottom: 3px solid #f8bc02;
}

.menu-trigger {
    display:none;
    width: 50px;
    height: auto;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    padding: 0;
    float: left;
    margin: 0px 0px;
    vertical-align: middle;
    color: #004a93;
}

@media screen and (max-width:767px) {
	.eServusHeader .navWrapper {
	    padding: 0;
	    background-color: transparent;
	    position: absolute;
	    top: 20px;
	    left: 20px;
	    width: 150px;
	}
  .menu-trigger {
    display:block;
    width: 100%;
    text-align: left;
  }
  .navWrapper nav{
  	 width: 150px;
  }
  .navWrapper nav ul li {
    display:block;
    float: none;   
  }
  .navWrapper nav ul {
    display:none;
    width: 130px;
    background-color: #fff;
    position: absolute;
    top: 45px;
    text-transform: none;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }

  .navWrapper nav li> a {
  	color: #004a93;
    font-weight: 700;
    padding-left: 2px;
    padding-right: 2px;
  }
}
@media screen and (max-width:550px) {
	.eServusHeader .navWrapper {
	    
	    top: 50px;
	    
	}
}
/*****************eServus Navigation End***************/



/*****************eServus Header End***************/



/*****************eServus Footer Start***************/
.footer{
	border-top: 1px solid #e4e8eb;
    font-size: 14px;
    padding: 40px 0 0;
    position: relative;
    clear: both;
}
.footer .footLogo{
	margin-bottom: 30px;
}
.footerLinks ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.footerLinks li{
	position: relative;
    padding: 10.5px 0;
    line-height: 1;
    display: block;
}
.footerLinks li>a{
	color: #2c2a2b;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}
.footerSocial>p{
	font-size: 16px;
    font-weight: 400;
    float: left;
    width: 150px;
}
.footerSocial>i{
	font-size: 20px;
    font-weight: 400;
    margin: 0 5px;
}
.footerSocial .contact-details {
    margin-top: 12px;
    line-height: 24px;
}
.footerSocial .contact-details>a {
	text-decoration: none;
	color: #2c2a2b;
}
.newsletter .newsletterInfo {
    margin-bottom: 20px;
}
.newsletter input.form-control {
    height: 50px;
    padding: 6px 12px;
}
.newsletter .input-group{
	position: relative;
	width: 100%;
}
.newsletter .input-group .SignUpBtn {
   position: absolute;
    right: 4px;
    top: 15%;
    z-index: 10;
   
}
.newsletter .input-group .SignUpBtn button{
	background-color: #fff;
   color: #004a93;
   border: 0;
}
.newsletter .pricavy-details {
    color: #91959d;
    font-size: 11px;
    margin-top: 20px;
    line-height: 24px;
}
.footerLinks, .footerSocial, .newsletter{
	margin-bottom: 30px;
}
.footer-copyright {
    color: #777;
    border-top: 1px solid #e4e8eb;
    padding: 10px 0 10px;
    margin-top: 10px;
}
.footer-copyright .copyright-text {
    font-size: 12px;
    color: #777;
    padding-top: 10px;
}
/*****************eServus Footer End***************/


/*****************My Community Start***************/


/*****for homepageBar section start*****/
.landingWrapper .container,
.eServusHeader .container,
.footer .container, 
.BuildingWrapper .container{
    max-width: 1024px;
}
.socialFeedWrap .container{
    max-width: 620px;
}
.homepageBar .streetCount h3 {
    color: #818181;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    line-height: 66px;
}

.homepageBar .pageTitle,
.socialFeedWrap .pageTitle,
.annoNewsWrap .pageTitle{
	color: #1e1c1d;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 45px;
    
}
.pageTitle h2{
    margin-bottom: 20px;
}
.titleBorder{
	width: 60px;
	margin: 0 auto;
	border-bottom: 3px #f8bc02 solid;
}
/*****for homepageBar section End******/

/***for Slider Start*/
.sliderWrap ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.sliderWrap ul>li{
  position: relative;
}
.sliderWrap ul>li .imgTxtWrap,
.BuildSliderWrap ul>li .imgTxtWrap{
  position: absolute;
  bottom: 0;
  left: 0;
  color: #00539a;
  z-index: 10;
  font-size: 14px;
  background-color: #fff;
  border-bottom: 3px solid #00539a;
  opacity: 0.8;
  padding: 10px;
  width: 100%;
}
.sliderWrap ul>li>img{
  width: 100%;
}
.BuildSliderWrap ul>li>img{
  width: 100%;
}
.communitySlider{
   margin-bottom: 85px;
}
/***for Slider End*/


/***for Calender Start*/

.fc-toolbar.fc-header-toolbar {
    margin-bottom: 10px; 
    padding: 5px 0px;
    border-bottom: 1px solid #ddd;
}
.fc-toolbar h2 {
    font-size: 14px;
    font-weight: 700;
    color: #f8bc02;

}
.fc-button{
  border: none;
  background: none;
  border-radius: 0px;
  box-shadow: none;
  height: 1.4em!important;
  color: #f8bc02;
}
.fc-unthemed .fc-row{
  border: 0px;
}
.fc td, .fc th {
    border-style: solid;
    border-width: 0px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 700;
    /*color: #9ca4ab;*/

}
.fc th { 
 
  text-transform: uppercase;
}
.fc-head-container{
  padding-bottom: 15px!important;
}
.fc-basic-view .fc-body .fc-row {
    min-height: 2.2em;
}
.fc-basic-view .fc-body .fc-row:last-child{
    display: none;
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    float: none;
}
.fc-scroller{
  overflow-x: visible;
}
@media screen and (max-width: 991px){
  .weatherInfo, .calenderWrap{
    display: none;
  }
}
/***for Calender End*/
.createEventWrap .lgBtn{
    width: 100%;
    font-weight: 700;
    margin-top: 5px;
}
.createEventWrap{
  text-align: center;
}
.createEventLink>a{
  text-decoration: none;
  color: #f8bc02;
  font-size: 16px;
  font-weight: 700;
}
@media screen and (max-width: 991px){
  .createEventWrap .lgBtn{
      width: 300px;
      font-weight: 700;
      margin: 25px auto 0px;
  }
}
.commFeatures{
    margin-bottom: 5px;
}
.commFeatures .row [class*="col-"]{
    padding-right: 10px;
    padding-left: 10px;
}
.FeaturesBox{
	text-align: center;
    border: 1px solid #eaebed;
    padding: 40px 0px;
    margin-bottom: 20px;
    min-height: 220px;
}
.FeaturesBox:hover{
	background-color: #eaebed;
}
.FeaturesBox>a{
  text-decoration: none;
  font-size: 14px;
  color:#242223;
  font-family: 'Montserrat', sans-serif;
}
.FeaturesBox>a>img{
	margin: auto auto 30px;
  max-height: 75px;
}

.socialFeedWrap .container{
	width: 70%;
	margin: 0 auto;
}
.sociFeedPost input.form-control {
    height: 56px;
    padding: 6px 25px;
}
.sociFeedPost .input-group{
	position: relative;
	width: 100%;
}
.sociFeedPost .input-group .SignUpBtn {
    position: absolute;
    right: 13px;
    top: 18%;
    z-index: 10;
   
}
.sociFeedPost .input-group .SignUpBtn button{
	background-color: #fff;
   color: #004a93;
   border: 0;
   font-size: 18px;
   font-weight: 700;
}
.sociFeedPost .input-group .SignUpBtn button i{
	padding-right: 10px;
}
.sociFeedPost{
	padding-bottom: 40px;
}
.sociFeedContent{
	margin-bottom: 40px;
	 border-bottom: 1px solid #eaebed;
}
.sociFeedContImg{
  max-width: 85px;
    max-height: 85px;
    border-radius: 50%;
    margin: 0 auto;
}
.sociFeedContImg>img{
  width: 100%;
}
.sociFeedContentWrap .sociFeedContent:last-of-type{
    margin-bottom: 0px;
    border-bottom: 0px;
}
.sociFeedContTxt .sociTxt{
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: left;

}
.morePostLinkWrap{
  margin-top: 10px;
  margin-bottom: 40px;
}
.moreAnnLink{
    padding: 0px 15px 15px;
    background-color: #f8f8f8;
}
.moreAnnLink>a{padding: 0px;}
.ContTxtLink>a, .moreAnnLink>a,
.morePostLink>a{
    margin-bottom: 20px;
    font-size: 14px;
    color: #f8bc02;
    padding: 0px 5px;
    text-decoration: none;
}
.moreAnnLink>a,
.morePostLink>a{
  padding: 0px;
}
.ContTxtLink>a span, .moreAnnLink>a i,
.morePostLink>a i{
    padding-left: 5px;
}
.advertiseBottom{
    margin-bottom: 5px;
}
.advertiseBottom .addContent{
    min-height: 100px;
    background-color: #eaebed;
    padding-top: 30px;
}
.addContent .addHere{
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
}
@media screen and (max-width: 767px) {
.sociFeedContImg, .sociFeedContTxt{
    text-align: center;
    margin-bottom: 15px
}
.sociFeedContTxt .sociTxt, 
.sociFeedContTxt .ContTxtLink, 
.sociFeedContTxt .moreAnnLink{
    text-align: left;
}

}

/*********Community Tabs Start*********/

@media screen and (max-width: 479px) {
  .nav-tabs-responsive > li {
    display: none;
    width: 23%;
  }
  .nav-tabs-responsive > li > a {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width: 100%;
    width: 100%;
    text-align: center;
    vertical-align: top;
  }
  .nav-tabs-responsive > li.active {
    width: 54%;
  }
  .nav-tabs-responsive > li.active:first-child {
    margin-left: 23%;
  }
  .nav-tabs-responsive > li.active, .nav-tabs-responsive > li.prev, .nav-tabs-responsive > li.next {
    display: block;
  }
  .nav-tabs-responsive > li.prev, .nav-tabs-responsive > li.next {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  .nav-tabs-responsive > li.next > a, .nav-tabs-responsive > li.prev > a {
    -webkit-transition: none;
    transition: none;
  }
  .nav-tabs-responsive > li.next > a .text, .nav-tabs-responsive > li.prev > a .text {
    display: none;
  }
  .nav-tabs-responsive > li.next > a:after, .nav-tabs-responsive > li.next > a:after, .nav-tabs-responsive > li.prev > a:after, .nav-tabs-responsive > li.prev > a:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    color: #f8bc02;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .nav-tabs-responsive > li.prev > a:after {
    content: "\e079";
  }
  .nav-tabs-responsive > li.next > a:after {
    content: "\e080";
  }
  .nav-tabs-responsive > li.dropdown > a > .caret {
    display: none;
  }
  .nav-tabs-responsive > li.dropdown > a:after {
    content: "\e114";
  }
  .nav-tabs-responsive > li.dropdown.active > a:after {
    display: none;
  }
  .nav-tabs-responsive > li.dropdown.active > a > .caret {
    display: inline-block;
  }
  .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-left {
    left: 0;
    right: auto;
  }
  .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-center {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-right {
    left: auto;
    right: 0;
  }
}

.Announcements-tabs .nav-tabs {
     border-bottom: none; 
}
.Announcements-tabs .nav-tabs>li.active>a, .Announcements-tabs .nav-tabs>li.active>a:focus, 
.Announcements-tabs .nav-tabs>li.active>a:hover {
    color: #00539a;
    font-weight: 700;
    font-size: 12px;
    border: none;
    border-bottom: 3px solid #00539a;
}

.Announcements-tabs .nav-tabs>li>a {
    color: #6d6d6d;
    font-size: 12px;
}
.Announcements-tabs .nav>li>a:focus, .Announcements-tabs .nav>li>a:hover {
     background-color: transparent; 
}
.Announcements-tabs .nav-tabs>li>a:hover {
     border-color: transparent; 
}
.tabDataWrap .tabDataContent {
  padding: 15px 0px;
  border-top: 1px solid #eaebed;
  background-color: #f8f8f8;
}
.tabDataTxt{
    font-size: 12px;
}
.tabDataTxt .txtSender>a{
    text-decoration: none;
    color: #f8bc02;
}
/*********Community Tabs End*********/
.annoNewsWrap{
    margin-bottom: 15px;
}
.advertiseWrap{
    min-height: 315px;
    background-color: #f8f8f8;
    margin-top: 40px;

}
.advertiseWrap .addTxt{
    text-align: center;
    font-size: 30px;
    padding-top: 120px;
}


/*****************Create Event modal Start***************/
.create-event-popup-modal .modal-title{
  color: #00539a;
  font-weight: 700;
}
.create-event-popup-modal .modal-body{
  border: none;
  border-radius: 2px;
}
.create-event-popup-modal .modal-footer {
  text-align: center;  
  border: none;
  padding: 0px;
}
.create-event-popup-modal .modal-footer button{
  margin-bottom: 0px;
}
.create-event-popup-modal .modal-content{
    border-bottom:4px solid #337ab7;
    border-radius: 0px;
    padding: 40px;
    background-color: #f9f9f9;
}
.createEventForm .uploadPhoto{
  position: relative;
}
.createEventForm .uploadPhoto>input{
  padding-left: 50px;
}
.createEventForm .uploadPhoto .uploadIcon{
    position: absolute;
    left: 20px;
    top: 6px;
    color: #00539a;
    font-size: 18px;
}
.createEventForm textarea{
  resize: none;
  min-height: 120px;
}
.evevntDateTime .evevntDate{
 float: left;
  width: 45%;
  margin-right: 5px;
  position: relative;
}
.evevntDateTime .evevntDate>input{
  padding-right: 35px;
}
.evevntDate .dateIcon{
    position: absolute;
    right: 10px;
    top: 6px;
    color: #00539a;
    font-size: 18px;
}
.evevntDateTime .eventTime{
 float: left;
  width: 38%;
}
.evevntDateTime .dateEditLink{
  float: left;
  width: 15%;
  text-align: right;
  line-height: 2.4;
}
.evevntDateTime .dateEditLink>a,
.evevntDateTime .edtTimeLink>a{
  text-decoration: none;
  color: #f8bc02;
}
.evevntDateTime .edtTimeLink{
  text-align: right;
  margin-top: 5px;
}
/*****************Create Event modal End***************/


/*****************Announcements & News modal Start***************/
.annsmntNewsPopupModal .modal-content{
  padding: 15px;
}
.newsPopupContentWrap .row [class*="col-"]{
    padding-right: 10px;
    padding-left: 10px;
}
.newsPopupContentWrap .col-md-3:nth-child(4n+1){
  clear: both;
}
.news-icon{
    text-align: center;
    border: 1px solid #eaebed;
    padding: 10px;
    margin-bottom: 20px;
   /* min-height: 220px;*/
}
.news-icon:hover{
  background-color: #eaebed;
}
.news-icon>a{
  text-decoration: none;
  font-size: 14px;
  color:#242223;
  font-family: 'Montserrat', sans-serif;
}
.news-icon>a>img{
  margin: auto;
 /* max-height: 75px;*/
}
/*****************Announcements & News modal End***************/


/*****************My Community End***************/



/*****************My Building Start***************/
#rotating-item-wrapper {
  position: relative;
  width: 980px;
  height: 347px;

}
.rotating-item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.BuildingSlider{
  margin-top: 10px;
  margin-bottom: 30px;
}
/*****************My Building End***************/